*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main{
    background-color: aqua;
    height: 200px;
    width: 300px;
    padding: 15px;
    border-radius: 20px;
}
.title{
    color: rgb(0, 0, 0);
    font-size: 20px;
    font-weight: 900;
    margin-bottom: 10px;
}
.details label {
    display: block; /* Make labels block-level elements */
    /* margin-bottom: 10px; Add some bottom margin for spacing */
}
